header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(138, 157, 209);
    
    
}
.logoImg{
    margin-top: 1%;
    margin-bottom: 0%;
    margin-right: 0%;
}

header nav{
    padding-top: 3%;
}

header h1{
    text-transform: uppercase;
}

header ul{
    display: inline;
    list-style-type: none;
    padding-top: 1%;
    
}

header ul li{
    display: inline;
    padding-top: 1%;
}

header ul li a{
    text-decoration: none;
    border: solid;
    border-color: rgb(138, 157, 209);;
    border-radius: 50px;
    background-color: rgb(138, 157, 209);;
    color: white;
    padding: 0.3em;
}

header ul li a:hover{
    background-color:  rgb(44, 43, 43);
    background-color:  rgb(44, 43, 43);
}

header ul li a:active{
    padding: 0.2em;
}

.Name{
    padding-top: 1%;
}

